[submodule "src/plugins/mokabot_arcaea/auapy"]
	path = src/plugins/mokabot_arcaea/auapy
	url = https://github.com/zhanbao2000/auapy
[submodule "src/plugins/mokabot_bandori/bestdori"]
	path = src/plugins/mokabot_bandori/bestdori
	url = https://github.com/zhanbao2000/bestdori.git
