[submodule "src/plugins/mokabot_arcaea/auapy"]
	path = src/plugins/mokabot_arcaea/auapy
	url = https://github.com/zhanbao2000/auapy
[submodule "src/plugins/mokabot_bandori/bestdori"]
	path = src/plugins/mokabot_bandori/bestdori
	url = https://github.com/zhanbao2000/bestdori.git
[submodule "src/plugins/mokabot_maimai"]
	path = src/plugins/mokabot_maimai
	url = https://github.com/Yuri-YuzuChaN/maimaiDX.git
[submodule "src/plugins/mokabot_bandori/BandoriChartRender"]
	path = src/plugins/mokabot_bandori/BandoriChartRender
	url = https://github.com/zhanbao2000/BandoriChartRender.git
